
.texto-principal {

        /* width: 100px;  */
        text-align: center 
    }
.texto-principal h1 {
    
    
    font-size: 6 px;
    
	
  }

.texto-principal h1 strong{
   
		display: block;
		font-size: 200px;
		font-family: Brush Script MT;
        
      
}

.subtitulo {
   
		
    font-size: 20px;
     margin : -15px
    color: rgb(255, 51, 51);
    
}

.links {

    font-size: 10 px;
    font-family: Arial ;
    text-align: center ;
    color: black;
   width : 100%;
    background-color: rgb(147, 136, 218);
}

.info { 

    font-size: 20px;
    color:rgb(119, 20, 20);

    text-align: center 
}


.icones {
    
    text-align: center 
    color rgb(119, 20, 20);
}


#follow {


    text-align: center 
}


.footer {
 background-color: rgb(147, 136, 218);
    text-align: center  
    
}

.endereco {

    text-align: center 

}